{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<style>
    #back{
        background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
    }

</style>

<div class="row justify-content-center">
 <div class="col-10">
    <div id="back" class="card">
      <div class="card-body">
        <h2 class="mb-4">Add Customer</h2>
<form method="POST" novalidate>
   {% csrf_token %}

  <div class="form-row">
      <div class="form-group col-md-4">
        {{ form.username|as_crispy_field }}
      </div>

      <div class="form-group col-md-4">
      {{ form.first_name|as_crispy_field }}
        </div>

        <div class="form-group col-md-4">
          {{ form.last_name|as_crispy_field }}
        </div>
  </div>



<div class="form-row">

      <div class="form-group col-md-4">
          {{ form.email|as_crispy_field }}
      </div>

        <div class="form-group col-md-4">
          {{ form.password1|as_crispy_field }}
      </div>
      <div class="form-group col-md-4">
          {{ form.password2|as_crispy_field }}
      </div>

</div>


  <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</div>
</div>
</div>
{% endblock %}
